h1 {
    color: red;
    background-color: lightblue;
    
}
body {
    background-color:lightgray;
}
img{
    width: 10cm;
}
#aboutme {
    color: brown;

}
.me02 {
    background-color:lightseagreen;
    color: maroon;
}
div {
    background-color: azure;
    color:red;
}
.me03 {
    font-size: larger;
}