h1 {
    color: red;
    background-color: lightblue;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    position: static;


    
}
header{
    background-color: rgba(0, 255, 106, 0.329);
    font-size: large;
    color: brown;
}
body {
    background-color:lightgray;
}
img{
    width: 10cm;
}
#aboutme {
    background-color:lightseagreen;
    color: maroon;
}    

.me02 {
    background-color:lightseagreen;
    color: maroon;
}
div {
    background-color: azure;
    color:red;
}
.me03 {
    font-size: larger;
}
ul.me01{
    color: coral;
    list-style-type: upper-roman
    
}